# Shared Flutter workspace ignores
.DS_Store
**/.dart_tool/
**/.idea/
**/*.iml
**/build/
**/coverage/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/android/local.properties
**/dist/
**/recall_bible_apk/

